.gnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.gnav>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.gnav>ul>li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center
}

.gnav>ul>li>a {
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-size: 15px
}

.gnav>ul>li>a:hover {
  opacity: 0.8
}

@media only screen and (max-width:767px) {
  .gnav {
    position: fixed;
    z-index: 100;
    top: 60px;
    left: 0;
    display: none;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background: white
  }

  .gnav.is-active {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
  }

  .gnav>ul {
    display: block;
    margin: 0 auto;
    padding: 0 0
  }

  .gnav>ul>li {
    padding: 10px 15px;
    list-style: none;
    border-bottom: 1px solid #000
  }

  .gnav>ul>li>a {
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 16px
  }

  .gnav>ul>li>a>span {
    display: block;
    text-align: center;
    font-size: 12px
  }
}

.btn {
  position: relative;
  font-weight: bold;
  line-height: 1.4;
  display: inline-block;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #707070;
  color: #000;
  font-size: 14px
}

.btn:hover {
  opacity: 0.8
}

.btn.is-active {
  color: #fff;
  background-color: #000;
  border-color: #000
}

.btn-primary {
  display: block;
  margin: 0 auto
}

.btn-primary:after {
  position: absolute;
  top: 50%;
  right: 1.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
  font-size: 14px
}

.btn-primary:hover {
  text-decoration: none;
  background-position: right center
}

.btn-primary:hover:after {
  right: 1.2em
}

@media screen and (max-width:768px) {
  .btn-primary:hover:after {
    right: 1.5em
  }
}

.btn-more {
  border: none;
  text-align: left;
  max-width: 180px;
  width: 285px
}

.btn-more:after {
  position: absolute;
  content: "";
  width: 48px;
  height: 15px;
  background: url("../img/common/btn-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  margin-top: -8px;
  font-size: 14px
}

.btn-block {
  display: block;
  margin: 0 auto
}

.btn-sm {
  padding: 4px 6px;
  font-size: 12px
}

.btn-center {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.btn-transparent {
  border: 1px solid #fff;
  background: none
}

.btn-transparent:hover {
  opacity: 0.8
}

@media only screen and (max-width:767px) {
  .btn {
    padding: 5px 10px;
    font-size: 12px
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}

.card .card_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}

.card .card_label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1000
}

.card .card_label .label {
  margin-right: 5px
}

.card .card_pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 0;
  padding-bottom: 57.1428571429%
}

.card .card_pic:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.card .card_pic img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease
}

.card .card_title {
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 15px;
  font-size: 18px
}

@media screen and (max-width:768px) {
  .card .card_title {
    padding-bottom: 10px
  }
}

.card time {
  margin-top: auto;
  font-size: 12px
}

.card-wrapper {
  margin-bottom: -30px
}

@media screen and (max-width:768px) {
  .card-wrapper {
    display: block;
    margin-bottom: 0
  }
}

.card-wrapper .card {
  margin-bottom: 30px
}

.cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px
}

.cardList.cardList-1row .cardList_item {
  padding-bottom: 0
}

.cardList .cardList_item {
  width: 33.3333333333%;
  padding: 0 15px 80px
}

.cardList .cardList_item a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s
}

.cardList .cardList_item a:hover {
  opacity: 0.8
}

.cardList .cardList_item:nth-child(3n) {
  margin-right: 0
}

.cardList .cardList_item:last-child {
  margin-bottom: 0
}

@media only screen and (max-width:767px) {
  .cardList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .cardList .cardList_item {
    width: 100%;
    margin: 0 auto 20px;
    padding-bottom: 30px
  }

  .cardList .cardList_item:last-child {
    margin-bottom: 0
  }
}

.is-black .heading {
  color: #fff
}

.is-black .heading:after {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #fff), color-stop(5%, #fff), to(#fff));
  background: linear-gradient(to right, #fff 5%, #fff 5%, #fff 100%)
}

.heading {
  font-weight: bold;
  line-height: 1.2
}

.heading>span {
  display: block;
  padding-bottom: 10px;
  letter-spacing: 0.05em;
  font-size: 14px
}

.heading-primary {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  font-size: 36px
}

@media only screen and (max-width:767px) {
  .heading-primary {
    font-size: 18px
  }
}

.heading-primary:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #000), color-stop(5%, #ccc), to(#ccc));
  background: linear-gradient(to right, #000 5%, #ccc 5%, #ccc 100%)
}

.heading-secondary {
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 32px
}

@media only screen and (max-width:767px) {
  .heading-secondary {
    font-size: 18px;
    line-height: 1.5
  }
}

.heading-secondary a {
  color: #000;
  text-decoration: none
}

.heading-secondary a:hover {
  opacity: 0.7
}

.heading-secondary span {
  padding-left: 10px;
  padding-bottom: 0;
  font-size: 12px;
  color: #555
}

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  background-color: #000
}

a.label:hover {
  background-color: black;
  font-weight: bold;
  color: #fff
}

.label-lg {
  padding: 5px 50px 5px 30px;
  font-size: 15px
}

.label-radius {
  border-radius: 5px
}

.label-rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 75px;
  height: 75px
}

.label-main {
  color: #45C6E5;
  border: 1px solid #45C6E5;
  color: #fff
}

.label-theme {
  color: #000;
  border: 1px solid #000;
  color: #fff
}

.label-gray {
  color: #707070;
  border: 1px solid #707070;
  color: #fff
}

.label-light-gray {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #fff
}

.label-black {
  color: #000;
  border: 1px solid #000;
  color: #fff
}

.label-white {
  color: #fff;
  border: 1px solid #fff;
  color: #fff
}

.label-transparent {
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff
}

.label-sky {
  color: #45C6E5;
  border: 1px solid #45C6E5;
  color: #fff
}

.label-yellow {
  color: #F9D93B;
  border: 1px solid #F9D93B;
  color: #fff
}

.label-blue {
  color: #64C8E6;
  border: 1px solid #64C8E6;
  color: #fff
}

.label-orange {
  color: #FD9F5B;
  border: 1px solid #FD9F5B;
  color: #fff
}

.label-darkblue {
  color: #1F7B96;
  border: 1px solid #1F7B96;
  color: #fff
}

.label-green {
  color: #2D953C;
  border: 1px solid #2D953C;
  color: #fff
}

@media only screen and (max-width:767px) {
  .label {
    padding: 2px 15px
  }

  .label-lg {
    padding: 4px 30px 4px 15px;
    font-size: 12px
  }
}

.logo {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.logo>a {
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-size: 24px
}

.logo>a>span {
  font-weight: normal;
  line-height: 1;
  display: block;
  padding-top: 5px;
  font-size: 12px
}

.logo.logo-white>a {
  color: #fff
}

.logo.logo-white>a>span {
  color: #fff
}

.pageTop {
  position: fixed;
  right: 45px;
  bottom: 50px;
  z-index: 1;
  display: none
}

@media screen and (max-width:768px) {
  .pageTop {
    right: 20px;
    bottom: 20px
  }
}

.pageTop>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #000;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #000;
  color: #fff;
  border-radius: 50%
}

.pageTop>a span {
  font-size: 10px;
  margin-top: 5px
}

.pageTop>a:hover {
  opacity: 0.8
}

@media screen and (max-width:768px) {
  .pageTop>a:hover {
    opacity: 1
  }
}

.breadcrumb {
  position: sticky;
  top: 64px;
  z-index: 1;
  padding: 8px 0;
  list-style: none;
  background-color: #f5f5f5;
  border-top: 1px solid #aaa
}

@media screen and (max-width:768px) {
  .breadcrumb {
    padding: 5px 0
  }
}

.breadcrumb a {
  color: #000
}

.breadcrumb a:hover {
  text-decoration: none
}

.breadcrumb .breadcrumb_inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  color: #888
}

.breadcrumb .breadcrumb_inner>span {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  color: #333
}

@media screen and (max-width:768px) {
  .breadcrumb .breadcrumb_inner>span {
    font-size: 10px
  }
}

.breadcrumb .breadcrumb_inner>span a,
.breadcrumb .breadcrumb_inner>span span {
  font-size: 12px
}

.breadcrumb .breadcrumb_inner>span:first-child {
  padding-left: 0
}

.breadcrumb .breadcrumb_inner>span:last-child {
  padding-right: 0
}

.kv {
  position: relative;
  width: 100%;
  height: 80vh
}

.kv .kv_slider {
  position: absolute;
  width: 100%;
  z-index: 998
}

.kv .kv_slider .kv_sliderItem {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover
}

.kv .kv_inner {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.kv .kv_title {
  font-size: 91px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  text-align: center
}

.kv .kv_subtitle {
  font-size: 27px;
  font-weight: bold;
  position: relative;
  color: #fff
}

.kv .kv_subtitle:after,
.kv .kv_subtitle:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 70px;
  height: 1px;
  top: calc(50% - 1px)
}

.kv .kv_subtitle:before {
  left: -90px
}

.kv .kv_subtitle:after {
  right: -90px
}

.kv .kv_overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 999
}

.kv .kv_scroll {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.kv .kv_scroll .kv_scrollLink {
  display: inline-block;
  text-decoration: none
}

.kv .kv_scroll .kv_scrollLink p {
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 18px
}

.kv .kv_scroll .kv_scrollIcon {
  padding: 4px;
  text-align: center;
  color: #fff
}

@media only screen and (max-width:767px) {
  .kv {
    position: relative;
    width: 100%;
    margin-top: -25px
  }

  .kv .kv_inner {
    padding: 100px 0
  }

  .kv .kv_title {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-size: 45px
  }

  .kv .kv_subtitle {
    font-size: 18px
  }

  .kv .kv_subtitle:after,
  .kv .kv_subtitle:before {
    top: calc(50% - 1px);
    width: 30px;
    height: 1px
  }

  .kv .kv_subtitle:before {
    left: -40px
  }

  .kv .kv_subtitle:after {
    right: -40px
  }

  .kv .kv_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}